<div class="container-fluid">
    <app-resources-details [resources]="selectedResources"></app-resources-details>

    <div class="row">
        <div class="col-4">
            <button type="button" class="btn btn-light" (click)="onSelect('Physik')">Physik</button>
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-light" (click)="onSelect('Chemie')">Chemie</button>
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-light" (click)="onSelect('Biologie')">Biologie</button>
        </div>
    </div>
</div>
